:root {
  background: #1b1e24;
}

body {
  background: #1b1e24;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ysabeau SC", sans-serif;
  color: white;
}

footer {
  color: white;
}

p {
  font-size: 18px;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App h1 {
  font-weight: bold;
  font-size: 32px;
}

.App a {
  color: #61dafb;
  text-decoration: none;
}

.App a:visited {
  color: #61dafb;
}

.App a:hover {
  cursor: pointer;
}
