.Results {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.Results h2 {
  text-transform: capitalize;
  border-bottom: 1px solid white;
  /* padding-bottom: 15px; */
  font-weight: bold;
}
